<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div>
  <div>
    <div>
      <div style="display:none;width:0.0px;min-height:0.0px;font-size:0.0px;line-height:0;margin:0.0px auto">
        <table width="100%" style="width:100.0%">
          <tbody>
          <tr style="line-height:0">
            <td>&nbsp;<br></td>
            <td style="text-align:center;width:1.0px" width="1" align="center">
              <img alt="-" style="width:1.0px;max-width:1.0px" width="1"><br></td>
            <td>&nbsp;<br></td>
          </tr>
          </tbody>
        </table>
      </div>
      <table bgcolor="#F0F0F0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(240,240,240)" border="0" width="100%" cellspacing="0" cellpadding="5">
        <tbody>
        <tr style="border-color:transparent">
          <td style="border-collapse:collapse;border-color:transparent" align="center">
            <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5" bgcolor="transparent" border="0" width="600px" cellspacing="0" cellpadding="0">
              <tbody>
              <tr style="border-color:transparent">
                <td style="border-collapse:collapse;border-color:transparent">
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:transparent" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table height="10" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;min-height:10.0px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent">
                                  <td style="border-collapse:collapse;border-color:transparent" height="10"><br></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table bgcolor="#FFFFFF" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table bgcolor="#FFFFFF" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent;color:rgb(51,51,51);font-family:Trebuchet MS,Arial,Helvetica,sans-serif">
                                  <td valign="top" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" width="600">
                                    <div align="center" style="font-size:16.0px;line-height:1.5;display:block;text-align:center;width:100.0%">
                                      <a style="text-decoration:none;color:rgb(39,34,92);display:block" href="https://s7428116.sendpul.se/sl/MTc1NDgzOTc=/2da1979f21f00f7c001c087d5375e92as4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://s7428116.sendpul.se/sl/MTc1NDgzOTc%3D/2da1979f21f00f7c001c087d5375e92as4&amp;source=gmail&amp;ust=1621082363211000&amp;usg=AFQjCNG9nhc_Im1E4Vlrsetj3utS5OhI5g"><img style="border:0.0px;line-height:100.0%;outline:none;text-decoration:none;display:block;width:600.0px;max-width:800.0px" alt="IMAGE_2021-04-02_123730" align="center" border="0" width="600"></a>
                                    </div>
                                    <div style="font-size:16.0px;line-height:1.5;clear:both"><br></div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table bgcolor="#FFFFFF" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table bgcolor="#FFFFFF" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(255,255,255);color:rgb(51,51,51);font-weight:normal;margin:0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent;color:rgb(51,51,51);font-family:Trebuchet MS,Arial,Helvetica,sans-serif">
                                  <td valign="top" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-bottom:15.0px;padding-left:45.0px;padding-right:45.0px;padding-top:15.0px" width="510">
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><span style="font-size:18px"><b>Hello and Thank You</b></span></span></span></span><br>
                                    </p>
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><span>You have already become the owner of Unidragon puzzles and we are very grateful to you!</span></span></span></span><br>
                                    </p>
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><span>We hope that our puzzles have brought you a lot of pleasant emotions and impressions. The time spent assembling was special and memorable.&nbsp;</span></span></span></span><br>
                                    </p>
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><span>Unidragon strives to be better for its customers, and your feedback will help them do it faster.</span></span></span></span><br>
                                    </p>
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><br><span>Follow the link it will take a little time</span><br> <a style="text-decoration:none;color:rgb(39,34,92)" href="https://s7428116.sendpul.se/sl/MTc1NDgzOTg=/2da1979f21f00f7c001c087d5375e92as4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://s7428116.sendpul.se/sl/MTc1NDgzOTg%3D/2da1979f21f00f7c001c087d5375e92as4&amp;source=gmail&amp;ust=1621082363211000&amp;usg=AFQjCNF-vagornO5ZfWnw-O6WPSWsspD9A"></a></span></span></span>
                                    </p>
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(51,51,51)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center"><b><%= @url %></b></span></span></span><br>
                                    </p>
                                    <div style="font-size:16.0px;line-height:1.5;clear:both"><br></div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:transparent" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent;color:rgb(51,51,51);font-family:Trebuchet MS,Arial,Helvetica,sans-serif">
                                  <td valign="top" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" width="600">
                                    <div style="font-size:16.0px;line-height:1.5;display:block;width:100.0%">
                                      <a style="text-decoration:none;color:rgb(39,34,92);display:block" href="https://s7428116.sendpul.se/sl/MTc1NDgzOTk=/2da1979f21f00f7c001c087d5375e92as4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://s7428116.sendpul.se/sl/MTc1NDgzOTk%3D/2da1979f21f00f7c001c087d5375e92as4&amp;source=gmail&amp;ust=1621082363211000&amp;usg=AFQjCNEpA3wCBG8vvCcb-Qwqtyg3m7jMpg"><img style="border:0.0px;line-height:100.0%;outline:none;text-decoration:none;margin:0.0px;display:block;width:600.0px;max-width:600.0px" alt="Base_Footer_ENG" align="left" border="0" width="600"></a><br>
                                    </div>
                                    <div style="font-size:16.0px;line-height:1.5;clear:both"><br></div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table bgcolor="#EEEEEE" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(238,238,238)" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table bgcolor="#EEEEEE" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:rgb(238,238,238);font-weight:normal;margin:0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent;color:rgb(51,51,51);font-family:Trebuchet MS,Arial,Helvetica,sans-serif">
                                  <td valign="top" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-bottom:0;padding-left:15.0px;padding-right:15.0px;padding-top:10.0px" width="570">
                                    <p align="center" style="line-height:1.2;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:inherit"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:1.2;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">Customer service <a style="text-decoration:none;color:rgb(39,34,92)" href="mailto:care@unidragon.com" target="_blank">care@unidragon.com</a></span></span></span><br>
                                    </p>
                                    <div style="font-size:16.0px;line-height:1.5;clear:both"><br></div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" style="border-collapse:collapse;font-size:16.0px;line-height:1.5;width:100.0%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="border-color:transparent">
                      <th valign="top" align="left" style="border-color:transparent;font-weight:normal;text-align:left;vertical-align:top" width="600">
                        <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:transparent" cellspacing="0" cellpadding="0" width="100%" border="0">
                          <tbody>
                          <tr style="border-color:transparent">
                            <td style="border-collapse:collapse;border-color:transparent">
                              <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5;background-color:transparent;color:rgb(176,176,176);font-weight:normal;margin:0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                <tr style="border-color:transparent;color:rgb(51,51,51);font-family:Trebuchet MS,Arial,Helvetica,sans-serif">
                                  <td valign="top" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-bottom:0;padding-left:30.0px;padding-right:30.0px;padding-top:20.0px" width="540">
                                    <p align="center" style="line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">
                                      <span style="color:rgb(176,176,176)"><span style="font-family:Trebuchet MS,Arial,Helvetica,sans-serif"><span style="font-size:inherit;line-height:inherit;margin:0px 0px 10px;font-weight:normal;padding:0px;text-align:center">Not interested?&nbsp;<a style="text-decoration:none;color:rgb(39,34,92)" href="https://s7428116.sendpul.se/unsubscribes/en/Njk4MjA2NQ==/2da1979f21f00f7c001c087d5375e92a/h/b4fc7b1c71a5e2684e9cfde7ff2924a6" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://s7428116.sendpul.se/unsubscribes/en/Njk4MjA2NQ%3D%3D/2da1979f21f00f7c001c087d5375e92a/h/b4fc7b1c71a5e2684e9cfde7ff2924a6&amp;source=gmail&amp;ust=1621082363211000&amp;usg=AFQjCNHRTIk4xhrFq6iXS9r-xASp041Czg">Unsubscribe</a></span></span></span><br>
                                    </p>
                                    <div style="font-size:16.0px;line-height:1.5;clear:both"><br></div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <br>
            <table style="border-collapse:collapse;font-size:16.0px;line-height:1.5" width="600px"></table>
          </td>
        </tr>
        </tbody>
      </table>
      <div style="display:none;width:0.0px;min-height:0.0px;font-size:0.0px;line-height:0;margin:0.0px auto">
        <table width="100%" style="width:100.0%">
          <tbody>
          <tr style="line-height:0">
            <td>&nbsp;<br></td>
            <td style="text-align:center;width:1.0px" width="1" align="center">
              <img alt="-" style="width:1.0px;max-width:1.0px" width="1"><br></td>
            <td>&nbsp;<br></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
